@model IEnumerable<ASPNetFinal.Models.Entity.ProfessionalExperience>
@{ Layout = null;}

@foreach (var item in Model)
{
<form method="post" action="@Url.Action("DeleteProExpPOST","Dashboard")">
    <div class="exp">
        <div class="media-left"> <span class="sun">@item.Duration</span> </div>
        <div class="media-body">
            <!-- COmpany Logo -->
            <div class="company-logo" style="width:100px; height:100px">
                <input name="fileName" id="fileName"
                       value="@(string.IsNullOrWhiteSpace(item.Image)?"":Href("~/Template/Media/"+item.Image))"
                       type="hidden" />
                <img src="@(string.IsNullOrWhiteSpace(item.Image)?"":Href("~/Template/Media/"+item.Image))" id="news-image" />
            </div>
            <h6>@item.CompanyName</h6>
            <p>@item.JobTitle</p>
            <p>@item.Location</p>
            <p class="margin-top-10">@item.Details
        </div>
        <input value="@item.Id" type="hidden" name="DeleteProExpPOST" />
        <button href="#" class="btn" type="submit" style="background-color:red ;"><i class="fa fa-trash"></i> Delete</button>
    </div>
</form>
}
