@model IEnumerable<ASPNetFinal.Models.Entity.BioSkills>
@{ Layout = null;}

    @foreach (var item in Model)
    {
        if (item.AsBar == true)
        {
            <form  method="post" action="@Url.Action("DeleteBioPOST","Dashboard")">
                <h6>@item.Category.Name</h6>
                <div class="panel-group accordion" id="accordion5">
                    <div class="panel panel-default">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- PANEL HEADING -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion5" href="#@item.Id"> @item.Skills.Name</a></h4>
                                </div>
                            </div>
                            <!-- Skillls Bars -->
                            <div class="col-sm-8">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillLeve" aria-valuemin="0" aria-valuemax="100" style="width: @item.SkillLeve%;"> <span class="sr-only">@item.SkillLeve% Complete</span> </div>
                                </div>
                                <!-- Skillls Text -->
                                <div id="@item.Id" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>@item.SkillDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input value="@item.Id" type="hidden" name="DeleteBioPOST" />
                <button href="#" class="btn" type="submit" style="background-color:red"><i class="fa fa-trash"></i> Delete</button>
                <hr />
            </form>
        }
    }
    @foreach (var item in Model)
    {
        if (item.AsTag == true)
        {
            <form method="post" action="@Url.Action("DeleteBioPOST","Dashboard")" >
                <a href="#." class="btn p-3" style="background:#346abb; color:white; margin-bottom: 3px;">@item.Category.Name</a>
                <br />
                <input value="@item.Id" type="hidden" name="DeleteBioPOST" />
                <button href="#" class="btn" type="submit" style="background-color:red; margin-bottom:3px;"><i class="fa fa-trash"></i> Delete</button>
            </form>
        }
    }
    <br />


